<%= form_for(reserva) do |f| %>
  <% if reserva.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
      <% reserva.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-center text-lg text-uppercase my-0"><strong> Criar Reserva </strong></h2>
                  <br>
                  <br>

  <%= f.label :student_id, "Estudante"%>
  <%= f.collection_select(:student_id, Student.all, :id, :name, {:prompt => 'Selecionar Estudante'},{:class=>'Colocar classe CSS'}) %>

  <br>
  <br>
  <%= f.label :sala_id, "Sala" %>
  <%= f.collection_select(:sala_id, Sala.all, :id, :number, {:prompt => 'Selecionar Sala'}, {:class=>'Colocar classe CSS'}) %>
  <br>
  <br>
  <div class="field">
    <%= f.label :time_input, "Hora de Entrada"%>
    <%= f.time_select :time_input %>
  </div>
  <br>

  <div class="field">
    <%= f.label :time_output, "Hora de Saída"%>
    <%= f.time_select :time_output%>

  </div>
  <br>

  <div class="field">
    <%= f.label :date, "Data" %>
    <%= f.date_select :date %>
  </div>
  <br>

  <div class="field">
    <%= f.label :quantity, "Quantidade"%>
    <%= f.number_field :quantity %>
    
  </div>
  <br>

  <div class="actions">
    <%= f.submit "Reservar", :class => 'btn btn-primary'%>
  </div>
<% end %>
