<p id="notice"><%= notice %></p>

          <h2 class="text-center text-lg text-uppercase my-0"><strong> Relatórios </strong></h2>
                  <br>
                  <br>

         <div class="container">
          
         <table class="table">
            <thead>
              <tr>
                <th>Estudante</th>
                <th>Sala</th>
                <th>Hora Entrada</th>
                <th>Hora Saída</th>
                <th>Data</th>
                <th>Quantidade</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @reservas.each do |reserva| %>
                <tr>
                  <td><%= reserva.student.name %></td>
                  <td><%= reserva.sala.number %></td>
                  <td><%= reserva.time_input.strftime('%H:%M') %></td>
                  <td><%= reserva.time_output.strftime('%H:%M') %></td>
                  <td><%= reserva.date %></td>
                  <td><%= reserva.quantity %></td>
                  <td><%= link_to 'Mostrar', reserva %></td>
                  <td><%= link_to 'Editar', edit_reserva_path(reserva) %></td>
                  <td><%= link_to 'Excluir', reserva, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          </div>

<br>
