<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @reserva.student.name %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @reserva.sala.number %>
</p>

<p>
  <strong>Hora Entrada:</strong>
  <%= @reserva.time_input %>
</p>

<p>
  <strong>Hora Saída:</strong>
  <%= @reserva.time_output %>
</p>

<p>
  <strong>Data:</strong>
  <%= @reserva.date %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @reserva.quantity %>
</p>

<%= link_to 'Editar', edit_reserva_path(@reserva) %> |
<%= link_to 'Voltar', reservas_path %>
