<p id="notice"><%= notice %></p>

<h2 class="text-center text-lg text-uppercase my-0"><strong> Alunos </strong></h2>
                  <br>
                  <br>
<div class="container">
<table class="table">

  <thead>
    <tr>
      <th>Matricula</th>
      <th>Name</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Curso</th>
      <th>Sexo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.matricula %></td>
        <td><%= student.name %></td>
        <td><%= student.cpf %></td>
        <td><%= student.telefone %></td>
        <td><%= student.curso %></td>
        <td><%= student.sexo %></td>
        <td><%= link_to 'Mostrar', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Excluir', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Estudante', new_student_path %>
</div>