<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @student.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @student.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @student.telefone %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @student.curso %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @student.sexo %>
</p>

<%= link_to 'Editar', edit_student_path(@student), :class => "btn btn-outline-warning"%> |
<%= link_to 'Voltar', students_path, :class => "btn btn-outline-secondary" %>
