<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sala.number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sala.status %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
