<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Gerenciador Sala" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Gerenciador Sala" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    /* Temporary fix for img-fluid sizing within the carousel */
    
    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
        display: block;
    }
    </style>

  </head>

  <body>

    <div class="container">
    
        <div class="tagline-upper text-center text-heading text-shadow text-white mt-4 hidden-md-down">Gerenciador de Salas de Estudo</div>

        <nav class="navbar navbar-toggleable-md navbar-light navbar-custom bg-faded py-lg-4">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container">
                <a class="navbar-brand text-uppercase text-expanded font-weight-bold hidden-lg-up" href="#">Gerenciador de Salas de Estudo</a>

                <br>
                
                <div class="collapse navbar-collapse" id="navbarExample">

                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4">
                                <%= link_to('Home', root_path) %>
                            </li>
                        
                        <% if !user_signed_in? %>
                            <li class="nav-item px-lg-4">
                                <%= link_to('Sign Up', new_user_registration_path) %>
                            </li>
                        <% else %>
                            <li class="nav-item px-lg-4">
                                <%= link_to('Reservas', new_reserva_path) %>
                            </li>
                            <li class="nav-item px-lg-4">
                                <%= link_to('Relatório', reservas_path) %>
                            </li>
                            <li class="nav-item px-lg-4">
                                <%= link_to('Alunos', students_path) %>
                            </li>
                            <li class="nav-item px-lg-4">
                                <%= link_to('Salas', salas_path) %>
                            </li>
                        <% end %>

                        <li class="nav-item px-lg-4">
                            <% if current_user==nil %>
                                <li class="nav-item px-lg-4">
                                    <%= link_to('Login', user_registration_path) %>
                                </li>
                            <% else %>
                                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   
                            <% end %>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <br>

        <div class="bg-faded p-4 my-4">

            <main role="main">

                  <div class="container-fluid">

                   <%= render 'layouts/messages' %>
                   <%= yield %>

                   </div>

                </div>
            </main>

        </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="tether/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <footer class="bg-faded text-center py-5">
        <div class="container">
            <p class="m-0">Copyright &copy; 2017</p>
        </div>
    </footer>
  </body>
</html>
